body{
    text-align: center;
    background-color: rgb(245, 245, 231);
}

h1{
    color:red;
    font-size:40px;
}

h2{
    color:purple;
    font-size:35px;
}

h3{
    font-size: 25px;
    color: yellowgreen;
}

ul{
    font-size: 15px;
}

p{
  font-size: 15px;
}

img {
    max-width: 300px;
    height: auto;
    }